<h1>Criar Usuário</h1>
<div ng-controller="UsersCtrl">
	<form>
		<input type="text" ng-model="newEntry.name">
		<input type="text" ng-model="newEntry.email">
		<input type="text" ng-model="newEntry.birthdate">
		<input type="text" ng-model="newEntry.gender">
	</form>
</div>
