<h1>Usuários</h1>

<div ng-controller="UsersCtrl">
	<ul>
		<li ng-repeat="entry in entries">
			{{entry.name}}
		</li>
		<li ng-repeat="entry in entries">
			{{entry.email}}
		</li>
		<li ng-repeat="entry in entries">
			{{entry.bithdate}}
		</li>
		<li ng-repeat="entry in entries">
			{{entry.gender}}
		</li>
	</ul>
</div>